In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
#store skater stats csv into dataframe 
game_skater_df = pd.read_csv("data/game_skater_stats.csv")
game_skater_df.head(10)

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2011030221,8467412,1,999,0,0,1,3,0,0,...,0,0,0,0,0,0,-1,885,98,16
1,2011030221,8468501,1,1168,0,0,0,4,0,0,...,0,1,1,0,0,1,0,767,401,0
2,2011030221,8470609,1,558,0,0,2,1,0,0,...,2,0,0,0,0,1,-1,542,0,16
3,2011030221,8471816,1,1134,0,0,1,4,0,0,...,0,1,0,0,0,1,-1,935,183,16
4,2011030221,8472410,1,436,0,0,1,3,0,0,...,6,0,0,0,0,0,-1,436,0,0
5,2011030221,8471233,1,1344,0,1,4,0,1,0,...,21,0,1,0,0,1,-1,949,239,156
6,2011030221,8470920,1,837,1,0,2,5,0,0,...,2,1,0,0,0,2,1,756,0,81
7,2011030221,8473646,1,465,0,0,2,3,0,0,...,1,0,0,0,0,0,-1,465,0,0
8,2011030221,8470610,1,1327,1,1,3,3,0,1,...,0,1,0,0,0,2,0,903,268,156
9,2011030221,8472382,1,1324,0,0,1,0,0,0,...,0,0,0,0,0,1,-2,1085,220,19

In [11]:
#create new dataframe with select columms 
new_game_skater_df = game_skater_df[['player_id', 'timeOnIce', 'assists', 'goals', 'shots', 'blocked', 'powerPlayGoals', 'powerPlayAssists', 'shortHandedGoals', 'shortHandedAssists', ]].copy()
new_game_skater_df .head()

,player_id,timeOnIce,assists,goals,shots,blocked,powerPlayGoals,powerPlayAssists,shortHandedGoals,shortHandedAssists
0,8467412,999,0,0,1,0,0,0,0,0
1,8468501,1168,0,0,0,1,0,0,0,0
2,8470609,558,0,0,2,1,0,0,0,0
3,8471816,1134,0,0,1,1,0,0,0,0
4,8472410,436,0,0,1,0,0,0,0,0

In [17]:
#goalie stats csv into dataframe
goalie_stats_df= pd.read_csv('data/game_goalie_stats.csv')
goalie_stats_df.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
0,2011030221,8455710,1,3876,0,0,0,36,32,7,0,25,0,28,8,L,88.888889,87.5,89.285714
1,2011030221,8468524,4,3876,0,0,0,26,23,4,5,14,5,16,5,W,88.461538,80.0,87.500000
2,2011030222,8455710,1,3599,0,0,0,20,19,1,3,15,3,16,1,W,95.000000,100.0,93.750000
3,2011030222,8468524,4,3559,0,0,0,34,31,6,0,25,0,28,6,L,91.176471,100.0,89.285714
4,2011030223,8468524,4,4623,0,0,0,31,27,1,1,25,1,28,2,L,87.096774,50.0,89.285714

In [18]:
#store player info csv into dataframe 
player_info_df = pd.read_csv('data/player_info.csv')
player_info_df.head()

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Stará Lubovna,RW,1979-01-12 00:00:00,NaN,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,NaN,"6' 1""",185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,Pembroke Pines,D,1993-04-20 01:00:00,FL,"5' 11""",180.34,180.0,L
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,ON,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,BC,"6' 3""",190.50,220.0,R

In [20]:
#store team info csv into dataframe
team_info_df = pd.read_csv('data/team_info.csv')
team_info_df.head()

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6

In [15]:
#create new dataframe with select columms
new_player_info_df = player_info_df [['player_id', 'firstName', 'lastName', 'nationality']].copy()
new_player_info_df .head()

   player_id firstName      lastName nationality
0    8466148    Marian         Hossa         SVK
1    8465058    Michal      Rozsival         CZE
2    8476906    Shayne  Gostisbehere         USA
3    8466285     Brian      Campbell         CAN
4    8470607     Brent      Seabrook         CAN

In [21]:
#creat fantasy points dataframe for skaters
fantasy_skater_data = {'Stats': ['Assists', 'Blocked Shots', 'Goals','Power Play Assists', 'Power Play Goals','Shots on Goal', 'Short Handed Assists', 'Short Handed Goals'], 
                'Points': [8, 1.6, 12, 0.5, 0.5, 1.6, 2, 2 ]}
fantasy_skater_df = pd.DataFrame(fantasy_skater_data)
fantasy_skater_df

                  Stats  Points
0               Assists     8.0
1         Blocked Shots     1.6
2                 Goals    12.0
3    Power Play Assists     0.5
4      Power Play Goals     0.5
5         Shots on Goal     1.6
6  Short Handed Assists     2.0
7    Short Handed Goals     2.0

In [22]:
#create fantasy points datafram for goalies
fantasy_goalie_data = {'Stats': ['Goals Against', 'Shutouts', 'Saves', 'Wins'],
                      'Points': [-4, 8, 0.8, 12]}
fantasy_goalie_df = pd.DataFrame(fantasy_goalie_data)
fantasy_goalie_df

           Stats  Points
0  Goals Against    -4.0
1       Shutouts     8.0
2          Saves     0.8
3           Wins    12.0